@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


.info-container{
    padding: 2%;
    text-align: left;
    font-family: 'Inter', sans-serif;
}

.btn{
    display: inline-block;
    padding: 10px 20px;
    border-radius: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.05em;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
    margin-left: 30%;
}

.btn-primary {
    background-color: #46A6FF;
    color: #fff;
}

.drawer-content p{
    font-size: 13px;
    color: #6A6868;
    margin-top: 6px;
}


.drawer-pagina a {
    text-decoration: none;
    font-size: 19px;
    color: #4cb2ee;
    font-family: 'Inter', sans-serif;
}

.drawer-subtitulo{
    font-size: 24px;
    color: #060606;
    margin-top: 6%;
}