@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.card {
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1);
    /*opacity: 0.6;*/
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    align-items: center;
}

.card-body {
  padding: 2%;
  text-align: left;
}

h2{
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  color: #2b2a2a;
  text-align: center;
}

label {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  color: #2b2a2a;
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  margin-top: 12%;
}

.form-control {
  width: 90%;
  height: 40px;
  border-radius: 18px;
  border: 1px solid #000000;
  background-color: #eeeded;
  padding: 10px;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  color: #7D6F6F;
}
