/*Css de las tablas, marcadores,bordes,botones,lineas,divisores*/

btn-outline-warning a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
/* Estilos para la tabla */
.drawer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #000;
}

.drawer-content {
  font-size: 17px;
  color: #6A6868;
  padding-left: 2%;
  justify-content: space-around;
}
.drawer-pagina{
  font-size: 10px;
  color: #ff0000;
  padding-left: 2%;
  justify-content: space-around;
}
.drawer-title {
  padding-left: 35%;
  font-size: 40px;
  color: #000;
}
.drawer-subtitulo {
  padding-left: 2%;
  font-size: 25px;
  color: #000;

}
.drawer-title{
  size: 50px;
}
 #map-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

#map {
  width: 100%;
  height: 100%;
}

.marker, .random-marker {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ff0000;
  opacity: 0.6;
  transition: all 0.2s;
  cursor: pointer;
  z-index: 10;
}

.marker:hover, .random-marker:hover {
  width: 30px;
  height: 30px;
  opacity: 1;
}

.info-container {
  position: fixed;
  top: 0;
  right: 0;
  display: none;
  width: 35%;
  height: 100%;
  background-color:#F0F5F7;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 10;
  cursor: default;
}
@media only screen and (max-width: 768px) {
  .info-container {
    width: 100%;
    height: 70%;
    top: 30%;
    left: 1%;
  }
  .drawer-title {
  padding-left: 27%;
  font-size: 40px;
  color: #000;
}


}
.info-container.visible {
  display: block;
}

.info-container h3 {
  margin: 0 0 5px 0;
  font-size: 16px;
  font-weight: bold;
  color: #6A6868;
}

.info-container p {
  margin: 0;
  font-size: 14px;
  color: #000;
}

.random-marker {
  top: 35%;
  left: 60%;
}

/* Añadir efecto hover a los botones */
.edit-button:hover, .delete-button:hover {
  opacity: 0.8;
}
.edit-button {
  color: rgb(0, 0, 0)000;
  border: none;
  background-color:#F0F5F7;
  padding: 5px 10px;
  padding-left: 50%;
  border-radius: 5px;
  cursor: pointer;
  font-size: 30px;
}
.exit-button{
  color: rgb(0, 0, 0)000;
  border: none;
  background-color:#F0F5F7;

  border-radius: 5px;
  cursor: pointer;
  font-size: 50px;
}
.delete-button {

  color: rgb(0, 0, 0)000;
  border: none;
  background-color:#F0F5F7;
  padding: 5px 10px;
  padding-left: 1%;
  border-radius: 5px;
  cursor: pointer;
  font-size: 30px;
}

