{% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/estiloCrearE.css'  %}">

{% block content %}
<div style="text-align:center">
    <div style="display:flex; flex-direction:column; align-items:center;">
        <div class="card">
            <div class="card-body">
                <form method="POST" action="/crearEmpresa/">
                    {% csrf_token %}
                    <div class="card-body" style="display:flex; justify-content:space-between;">
                        <div style="width: 45%;">
                            <div class="form-group">
                                <label>NIT de la empresa:</label>
                                <input type="number" name="NIT" id="NIT" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Nombre de la empresa:</label>
                                <input autocomplete="off" type="text" name="nombre" id="nombre" class="form-control">
                            </div>

                            <div class="form-group">
                              <label>Ciudad de la empresa:</label>
                              <select name="ubicacion" id="ubicacion" class="form-control">
                                 {% for ciudad in ciudades %}
                                 <option value="{{ ciudad.nombre }}">{{ ciudad.nombre }}</option>
                                 {% endfor %}
                             </select>
                          </div>
                          <div class="form-group">
                            <label>Link de la pagina de la empresa:</label>
                            <input autocomplete="off" type="text" name="paginaWeb" id="paginaWeb" class="form-control">
                        </div>
                          <div class="form-group">
                            <label>Fecha de Fundación:</label>
                            <input type="date" class="form-control" id="fecha" name="fecha"
                                   max="{% now 'Y-m-d' %}">
                        </div>
                        </div>
                        <div style="width: 45%;">
                          <div class="form-group">
                            <label>Descripción de la empresa:</label>
                            <textarea autocomplete="off" name="descripcion" id="descripcion" class="form-control2"></textarea>
                        </div>

                            <div class="form-group">
                                <label>Telefono:</label>
                                <input autocomplete="off" type="text" name="telefono" id="telefono" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Email de la empresa:</label>
                                <input autocomplete="off" type="email" name="email" id="email" class="form-control">
                            </div>
                         
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">CREAR</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}


