<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-2jUg/vWWwLyOA6VTxmaETfzYJBY+nLgz4O9ysH4T22+iZTStVcTkJrMz8x7FvmAa2HzVrgajbNSsXsVfEymtww==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <!--pega un mapa de internet y coloca marcadores que hacen referencia a las empresas, las ubica aleatoreamente por coordenadas x y y-->
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/estiloInicio.css' %}">
</head>

<body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script> 
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary" data-bs-theme="light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Empresas</a>
      <span class="navbar-text text-white d-flex align-items-center">Bienvenido Administrador</span>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <form class="d-flex position-relative ms-auto me-auto">
          <button type="button" class="btn btn-outline-mb-3"><a class="no-underline text-white" href="{% url 'crear' %}">Crear
              Empresa</a></button>
        </form>
        <a class="navbar-text text-white d-flex align-items-center" href="{% url 'logout' %}">Salir<i
                  class="bi bi-arrow-bar-left ms-1"></i></a>
      </div>
    </div>
  </nav>
  <div id="map-container">
    <img src="https://www.4umaps.com/topomaps/preview/274021463_SantiagodeCali_XL.jpg" alt="Mapa de Cali" id="map">
    {% for empresa in empresa_coords %}
        {% if empresa.estado %}
    <div id="{{ empresa.NIT }}" class="marker marker-position"></div>
  
    <div id="{{ empresa.NIT }}-info" class="info-container">
      <button id="cesar-sa-close" class="exit-button">&times;</button>
  
      <button class="edit-button" title="Editar">&#9998;</button>
  
      <button class="delete-button" title="Borrar">&#128465;</button>
  
      <h4 class="drawer-title">{{ empresa.nombre }}</h4>
  
      <h2 class="drawer-subtitulo">Acerca de:</h2>

      <div class="drawer-content">
        <h3>NIT: {{ empresa.NIT }}</h3>
      </div>

      <div class="drawer-content">
        <h3>{{ empresa.descripcion }}</h3>
      </div>

      <div class="drawer-content">
        <ul>
          <li>Fundación: {{ empresa.fechaFundacion }}</li>
          <li>Sede: {{ empresa.ubicacion }}</li>
          <li>Contacto: {{ empresa.telefono }}</li>
        </ul>
      </div>
  
      <h2 class="drawer-subtitulo">Pagina oficial:</h2>
  
      <div class="drawer-pagina">
        <h3 style="color: red;">{{ empresa.paginaWeb }}</h3>
      </div>
  
      <h2 class="drawer-subtitulo">Personal:</h2>
  
      <div class="drawer-content">
        <button class="btn btn-primary">Ver personal</button>
      </div>
  
    </div>
  </div>
    {% endif %}
      {% endfor %}
  </div>
  {% load static %}
  <script type="text/javascript" src="{% static 'javascript/acciones.js' %}"></script>
  </body>
  </html>
