{% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/estiloActualizarE.css' %}">
{% block content %}
<div style="text-align:center">
    <div style="display:inline-block">
        <div class="card">
            <div class="card-body">
                <div class="text-center">

                    <h2 class="card-title">AQUÍ VA EL NOMBRE DE LA EMPRESA</h2>
                    <table>
                        <form method="POST" action="/actualizarEmpresa/{{empresa.NIT}}">
                            {% csrf_token %}
                            <div class="inputs-container" style="width: 50%;">
                                <tr>
                                <td><label>Nombre de la empresa:</label></td>
                                <td><input type="text" class="form-control" id="nombre" name="nombre"
                                           value="{{ empresa.nombre }}"></td>
                            </tr>
                            <br>
                            <tr>
                                <td><label>Descripción de la empresa:</label></td>
                                <td><input type="text" class="form-control2" id="descripcion" name="descripcion"
                                           value="{{ empresa.descripcion }}"></td>
                            </tr>
                            <tr>
                                <td><label>Logo de la empresa :</label></td>
                                <td><input  class="text-box" type="file" id="logo" name="logo"></td>
                            </tr>
                            <tr>
                                <td><label>Especialidades de la empresa:</label></td>
                                <td><input type="text" class="form-control" id="especialidades" name="especialidades"
                                           value="{{ empresa.especialidades }}"></td>
                            </tr>
                            <br>
                            <tr>
                                <td><label>Fecha de fundación:</label></td>
                                <td><input type="date" class="form-control" id="fecha" name="fecha"
                                           max="{% now 'Y-m-d' %}" value="{{ empresa.fechaFundacion|date:"Y-m-d" }}"></td>
                            </tr>
                            <br>
                            <tr>
                                <td><label>Dirección de la Empresa:</label></td>
                                <td><input type="text" class="form-control" id="direcion" name="direcion"
                                          value="{{ empresa.direcion }}"></td>
                            </tr>
                            <br>
                            <tr>
                                <td><label>Telefono:</label></td>
                                <td><input type="text" class="form-control" id="telefono" name="telefono"
                                           value="{{ empresa.telefono }}"></td>
                            </tr>
                            <tr>
                                <td><label>Email:</label></td>
                                <td><input type="text" class="form-control" id="email" name="email"
                                           value="{{ empresa.email }}"></td>
                            </tr>

                            <tr>
                                <td><label>Página Web:</label></td>
                                <td><input type="text" class="form-control" id="paginaWeb" name="paginaWeb"
                                           value="{{ empresa.paginaWeb }}"></td>
                            </tr>
                            </div>

                            <tr >
                                <td></td>
                                <td>
                                    <button type="submit" class="btn btn-primary">Actualizar</button>
                                </td>
                            </tr>
                        </form>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
    {% endblock %}

